### EJ 1

In [1]:
planeta = {
    'name': 'Mars',
    'moons': 2
}

In [2]:
print(planeta['name'], 'tiene', planeta['moons'], 'lunas')

Mars tiene 2 lunas

In [3]:
planeta['diametroKM'] = {
    'polar': 6752,
    'equatorial': 6792
}

In [8]:
planeta

{'name': 'Mars',
 'moons': 2,
 'diametro (km)': {'polar': 6752, 'equatorial': 6792},
 'diametroKM': {'polar': 6752, 'equatorial': 6792}}

In [4]:
print(
    planeta['name'], 
    'tiene', 
    planeta['moons'], 
    'lunas', 
    'y tiene una circunferencia polar de:', planeta['diametroKM']['polar'],
    'así como una circunferencia equatorial de:', planeta['diametroKM']['equatorial']
)

Mars tiene 2 lunas y tiene una circunferencia polar de: 6752 así como una circunferencia equatorial de: 6792

### EJ 2

In [5]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [10]:
lunas = planet_moons.values()
planets = len(planet_moons)

print(lunas)
print(planets)

dict_values([0, 0, 1, 2, 79, 82, 27, 14, 5, 2, 1, 1])
12

In [12]:
totalLunas = sum(lunas)
print('hay un total de', totalLunas, 'lunas')
promedioLunas = totalLunas/planets
print('hay un promedio de', promedioLunas, 'por planeta')

hay un total de 214 lunas
hay un promedio de 17.833333333333332 por planeta